html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

table {
  border-spacing: 0;
}

.nav-bar {
  font-size: 1.5rem;
}

.border-right {
  border-right: 0.2rem solid black;
}

a {
  text-decoration: none;
  color: black;
}

.div-title {
  margin-top: 40px;
  font-size: 1.6rem;
}

.div-text {
  margin-top: 50px;
  font-size: 1.5rem;
}
