body {
  margin: 0;
}
table {
  border-spacing: 0;
  margin-left: 3px;
}
td {
  width: 1000px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(204, 204, 204);
}
table td:nth-child(2) {
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
.div-title {
  margin-top: 40px;
}
.div-text {
  margin-top: 50px;
}
.span-name {
  margin-left: 550px;
}
.span-email {
  margin-left: 590px;
}
input[type="submit"] {
  margin-left: 690px;
  font-weight: bold;
}
