html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

table {
  border-spacing: 0;
}

.nav-bar {
  font-size: 1.5rem;
}

.nav-bar td:nth-child(2) {
  background-color: white;
  border-radius: 0.5rem;
}

.div-table tr:nth-child(1) {
  background-color: rgb(204, 204, 204);
}

.div-table tr:nth-child(2n + 3) {
  background-color: rgb(229, 229, 229);
}

.div-table tr:nth-child(15) td {
  height: 0.4rem;
}

.div-table td {
  height: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

.div-title {
  text-align: left;
  font-size: 1.6rem;
  margin-top: 4rem;
  margin-left: 2rem;
}

.div-table {
  border: 0.2rem solid black;
  border-radius: 0.4rem;
  margin-left: 0.3rem;
  font-size: 1.4rem;
}

.border-right {
  border-right: 0.2rem solid black;
}

.user-table {
  width: 100%;
}

.table-col-1 {
  width: 38%;
}

.table-col-2 {
  width: 38%;
  text-align: center;
}

.table-col-3 {
  text-align: center;
}

.confirm-modal {
  width: 18%;
  border: 0.2rem solid black;
  position: fixed;
  z-index: 1;
  left: 50rem;
  top: 30rem;
  background-color: white;
  border-radius: 0.5rem;
}

.modal-title-text {
  width: 24rem;
}

.confirm-body {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.confirm-message {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.confirm-question {
  display: inline-block;
  width: 50;
  height: 40;
  padding-left: 1.2rem;
  padding-right: 1rem;
  vertical-align: middle;
}

.confirm-text {
  display: inline-block;
  margin-bottom: 2rem;
}

.confirm-button {
  text-align: center;
  padding-bottom: 1rem;
}

.button {
  border: 0.2rem solid black;
  border-radius: 0.8rem;
  background-color: white;
  padding: 0.5rem 2rem;
  margin-left: 2rem;
}

.button:hover {
  border-color: blue;
  border-width: 0.4rem;
  cursor: pointer;
}
